body {
  margin: 0;
  padding: 0;
  background: white;
  height: 100%;
  width: 100%;
  background-color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

li {
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: relative;
}

nav ul {
  list-style: none;
  text-align: right;
  padding-right: 25px;
  padding-bottom: 0px;
}

nav ul li {
  display: inline;
  padding-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 2.8em;
  font-weight: bold;
}

nav ul li a:hover {
  color: blue;
}

span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

.image-menu {
  width: 60%;
  height: 60%;
  top: -200px;
  position: relative;
  z-index: -1;

}

.verticalLine {
  text-align: center;
}

.title {
  font-size: 3.3em;
  text-align: center;
}

.project-image {

  width: 60%;
}


#top-bar {
  height: 100vh;
  width: 100%;
  position: relative;
}

#image-menu {
  animation-name: img-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#header-project-title {
  position: relative;
  left: 20px;
}

#home {
  position: relative;
  top: 20px;
}

#image-container {
  text-align: center;
}

#menu-title-projects {
  position: relative;
  float: right;
  right: 40px;
}

#menu-title-skills {
  position: relative;
  left: 70px;
  top: 0px;
  border: 2px  #000;
}

#name {
  color: red;
  font-family: 'Montserrat', sans-serif;
  font-size: 6.5em;
  position: relative;
  top: -80px;
  /*left: 20px;*/
}

#job {
  color: green;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-size: 6.5em;
  bottom: 350px;
  text-align: right;
}

#project {
  position: relative;
  text-align: center;
}

span.text-content {
  background: green;
  color: white;
  cursor: pointer;
  display: table;
  height: 60vh;
  left: 285px;
  position: absolute;
  top: 0;
  width: 60vw;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  border: 2px solid;
  border-radius: 3px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content2 {
  background: blue;
  color: white;
  cursor: pointer;
  display: table;
  height: 58vh;
  left: 285px;
  position: absolute;
  width: 60vw;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  border: 2px solid;
  border-radius: 3px;
}

span.text-content2 span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#first-project-name {
  position: absolute;
  /*top: 180px;
  left: 640px;*/
  vertical-align: middle;
}

#stuart {
  background: orange;
}

#phantasm {
  height: 51vh;
  background: black;
}

#rock {
  height: 67vh;
  background: red;
}

.text-content:hover {
  transform: scale(1.0, 1.0);
  opacity: 0.8;
}

.text-content2:hover {
  opacity: 0.8;
}

#project-title-skills:hover {
  color: red;
}

#skills {
  display: inline;
}

#skills-img {
  width: 40%;
}

.centered-images {
  list-style: none;
    text-align: center;
}

.stitle {
    font-size: 5.0em;
    animation-name: img-animation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    margin-bottom: 70px;
}

footer {
  height: 100px;
  width: 100%;
  position: relative;
  z-index: 1;
}

#contactme {
  color: green;
  font-family: 'Montserrat', sans-serif;
  margin-left: 15px;
}

#email {
  color: red;
  font-family: 'Montserrat', sans-serif;
  margin-left: 15px;
}

@keyframes img-animation {
  0% {
    color: green;
  }
  25% {
    color: blue;
  }
  50% {
    color: orange;
  }
  100% {
    color: red;
  }
}
